<div class="w-75 p-3" style="background-color: rgb(255, 255, 255);">
<div class="card border-dark mb-3">
  <div class="card-header">User Registration</div>
  <div class="card-body text-dark">
    <form (ngSubmit)="doRegistration()">
      <mat-error><strong *ngIf="submitMessage" class="error-message">{{submitMessage}}</strong></mat-error>
	  <div class="form-group">
          <label for="txtFirstName">First Name</label>
          <input id="txtFirstName" [formControl]='firstName' class="form-control" placeholder="First Name">
      </div>
	  <div class="form-group">
          <label for="txtLastName">Last Name</label>
          <input id="txtLastName" [formControl]='lastName' class="form-control" placeholder="Last Name">
      </div>
	  <div class="form-group">
          <label for="txtEmail">Email</label>
          <input id="txtEmail" type="email" [formControl]='email' class="form-control" placeholder="Email">
      </div>
	  <div class="form-group">
          <label for="txtPassword">Password</label>
          <input id="txtPassword" [formControl]='password' class="form-control" placeholder="Password">
      </div>
	  <div class="form-group">
          <label for="txtConfirmPassword">Confirm Password</label>
          <input id="txtConfirmPassword" [formControl]='confirmPassword' class="form-control" placeholder="Confirm Password">
      </div>
	  <div class="form-group">
       <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="male" id="radMale" value="male" [formControl]='gender'>
          <label class="form-check-label" for="radMale">Male</label>
		  <input class="form-check-input" type="radio" name="female" id="radFemale" value="female" [formControl]='gender'>
          <label class="form-check-label" for="radFemale">Female</label>
		  <input class="form-check-input" type="radio" name="others" id="radOthers" value="others" [formControl]='gender'>
          <label class="form-check-label" for="radMale">Others</label>
      </div> 
     </div>
      
	  <div class="form-group">
          <label for="txtPermanentAddress">Permanent Address</label>
          <input id="txtPermanentAddress" [formControl]='permanentAddress' class="form-control" placeholder="Permanent Address">
      </div>
      
    <div class="form-group">
          <label for="txtPickupAddress">Pickup Address</label>
          <input id="txtPickupAddress" [formControl]='pickupAddress' class="form-control" placeholder="Pickup Address">
      </div>
      <button type="submit" class="btn btn-primary float-right">Register</button>
      </form>
  </div>
</div>
</div>