<!-- <mat-card>
  <mat-card-title>Connection</mat-card-title>
  <mat-card-content> -->

    <form (ngSubmit)="doRegistration()" class="take-note-form">
      <mat-error><strong *ngIf="submitMessage" class="error-message">{{submitMessage}}</strong></mat-error>
      <div>
        <mat-form-field class="note-field-full-width">
          <input placeholder="First Name" matInput [formControl]='firstName'>
          <mat-error *ngIf="firstName.hasError('required')">  Please enter a valid email address 
          </mat-error>
        </mat-form-field>
      </div>

      <div>
       <mat-form-field class="note-field-full-width">
          <input placeholder="Last Name" matInput [formControl]='lastName'>
          <mat-error *ngIf="lastName.hasError('required')">   
          </mat-error>
        </mat-form-field>
      </div>
      
      <div>
        <mat-form-field class="note-field-full-width">
          <input placeholder="Email Id" matInput [formControl]='email'>
          <mat-error *ngIf="email.hasError('required')">   
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="note-field-full-width">
          <input placeholder="Password" class="password" matInput type = 'password' [formControl]='password'>
            <mat-error *ngIf="password.hasError('required')">
            </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="note-field-full-width">
          <input placeholder="Confirm Password" matInput type = 'password' [formControl]='confirmPassword'>
            <mat-error *ngIf="confirmPassword.hasError('required')">
            </mat-error>
        </mat-form-field>
      </div>

      <div>
          <mat-radio-group [formControl]='gender'>
              <mat-radio-button value="male">Male</mat-radio-button>
              <mat-radio-button value="female">Female</mat-radio-button>
              <mat-radio-button value="others">Others</mat-radio-button>
            </mat-radio-group>
      </div>

      <div>
        <mat-form-field class="note-field-full-width">
          <textarea placeholder="Permanent Address" matInput [formControl]='permanentAddress'></textarea>
          <mat-error *ngIf="permanentAddress.hasError('required')">   
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="note-field-full-width">
          <textarea placeholder="Pickup Address" matInput [formControl]='pickupAddress'></textarea>
          <mat-error *ngIf="pickupAddress.hasError('required')">   
          </mat-error>
        </mat-form-field>
      </div>
        <!-- <button mat-raised-button class="btn btn-primary">login</button> -->
        <button type="submit" mat-button >Submit</button>
      </form>


  <!-- </mat-card-content>
</mat-card> -->